<!doctype html>
<title>Crumbless</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <h1>Crumbless</h1>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for your cravings" id="filter-text-val" onkeyup="filterText()"
                    onkeydown="checkEnter(event)">
            </div>
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>

        function answerBoxTemplate(name, address, stars, categories, postal_code) {
            const roundedPC = Math.round(Number(postal_code)).toString();
            var cat = categories.replace(/^"(.*)"$/, '$1');
            cat_array = cat.split(",")
            const i = cat.indexOf("Restaurants")
            if (i !== -1) {
                cat_array.splice(i, 1)
            }
            cat = cat_array.join(",")
            return `<div class=''style='border: 1px solid black; padding: 10px;margin-bottom: 20px;border-radius: 5px;'>
                <h3 class='restaurant-name'>${name}</h3>
                <p class='restaurant-desc'><strong>Address: </strong> ${address}, Tucson, AZ, ${roundedPC}</p>
                <p class='restaurant-desc'><strong>Average Rating: </strong>${stars}/5</p>
                <p class='restaurant-desc'><strong>Common Words to Describe the Restaurant: </strong> ${cat}</p>
            </div>`
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function checkEnter(event) {
            if (event.keyCode === 13) {
                filterText()
            }
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            fetch("/reviewsearch?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.name, row.address, row.stars, row.categories, row.postal_code)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));
        }

    </script>
</body>