<!doctype html>
<script src="https://d3js.org/d3.v5.min.js"></script>
<title>Crumbless</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <h1>Crumb-less</h1>
            <h2>Tucson</h2>
            <div class="input-box" onclick="sendFocusSearch()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for your Tucson cravings (e.g. fancy date night)" id="filter-text-val"
                    onkeyup="typingFilter()" onkeydown="checkEnter(event)">
                <!-- onkeyup="filterText()" onkeydown="checkEnter(event)" -->
            </div>
            <div id="dimension-scores"></div>
            <h4 id="dimension-text">Start typing words to see how much your query relates to certain categories</h4>
            <h3>Optional Extra Inputs</h3>
            <div class="fave-restaurant-box" onclick="sendFocusFave()">
                <input placeholder="Enter your favorite Tucson restaurant" id="fave-restaurant-val" onkeydown="
                    checkEnter(event)">
            </div>
            <div id="no-fave-box"></div>
            <div class="dropdown-container">
                <select class="dropdown" name="cuisine" id="cuisine" onchange="typingFilter()">
                    <option value="NONE">Select Cuisine</option>
                    <option value="American">American</option>
                    <option value="Chinese">Chinese</option>
                    <option value="French">French</option>
                    <option value="Italian">Italian</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Korean">Korean</option>
                    <option value="Mexican">Mexican</option>
                    <option value="Mediterranean">Mediterranean</option>
                </select>
                <!-- <select class="dropdown" name="budget" id="budget" onchange="typingFilter()">
                    <option value="NONE">Select Budget</option>
                    <option value="1">$ (&lt;$10) </option>
                    <option value="2">$$ ($11-$30)</option>
                    <option value="3">$$$ ($31-$60)</option>
                    <option value="4">$$$$ (&gt;$61)</option>
                </select> -->
                <select class="dropdown" name="diet" id="diet" onchange="typingFilter()">
                    <option value="NONE">Select Dietary Restriction</option>
                    <option value="Gluten-Free">Gluten-Free</option>
                    <option value="Vegetarian">Vegetarian</option>
                    <option value="Vegan">Vegan</option>
                </select>
                <form id="submit" action="/submit-form" method="post">
                    <input type="submit" value="Submit" class="submit-button">
                </form>
            </div>
            <div id="answer-box"></div>
        </div>

    </div>

    <script>

        document.getElementById("submit").addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent the form from submitting
            var cuisine_dropdown = document.getElementById("cuisine");
            var diet_dropdown = document.getElementById("diet");
            var cuisine = cuisine_dropdown.value;
            var diet = diet_dropdown.value;
            faveError();
            filterText(cuisine, diet);
        });

        function checkEnter(event) {
            if (event.keyCode === 13) {
                typingFilter()
            }
        }

        /** Identifies the inputs in the dropdown and send that to FilterText*/
        function typingFilter() {
            var cuisine_dropdown = document.getElementById("cuisine");
            var diet_dropdown = document.getElementById("diet");
            var cuisine = cuisine_dropdown.value;
            var diet = diet_dropdown.value;
            faveError();
            filterText(cuisine, diet);
        }

        function answerBoxTemplate(name, address, stars, categories, postal_code) {
            const roundedPC = Math.round(Number(postal_code)).toString();
            const cat = categories.replace(/^"(.*)"$/, '$1');
            cat_array = cat.split(",")
            const i = Math.max(cat_array.indexOf(" Restaurants"), cat_array.indexOf("Restaurants"))
            if (i != -1) {
                cat_array.splice(i, 1)
            }
            cat1 = cat_array.join(",")
            //`<div class=''style='border: 1px solid black; padding: 10px;margin-bottom: 20px;border-radius: 5px;'>
            return `<div class = "restaurant-card">
                <h3 class='restaurant-name'>${name}</h3>
                <p class='restaurant-desc'><strong>Address: </strong> ${address}, Tucson, AZ, ${roundedPC}</p>
                <p class='restaurant-desc'><strong>Average Rating: </strong>${stars}/5</p>
                <p class='restaurant-desc'><strong>Common Words to Describe the Restaurant: </strong> ${cat1}</p>
            </div>`
        }

        function sendFocusSearch() {
            document.getElementById('filter-text-val').focus()
        }
        function sendFocusFave() {
            document.getElementById('fave-restaurant-val').focus()
        }

        function faveError() {
            document.getElementById("no-fave-box").innerHTML = ""
            name = document.getElementById("fave-restaurant-val").value
            if (name != "") {
                fetch("/favesearch?" + new URLSearchParams({ fave: name }).toString())
                    .then((response) => response.json())
                    .then((data) => {
                        if (data == "") {
                            let tempDiv = document.createElement("div")
                            tempDiv.innerHTML = `<p class='restaurant-desc'>Favorite restaurant not found in our database.</p>`
                            document.getElementById("no-fave-box").appendChild(tempDiv)

                        }
                    })

            };

        };

        function filterText(cuisine, diet) {
            document.getElementById("answer-box").innerHTML = ""
            fetch("/reviewsearch?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value, cuisine: cuisine, diet: diet, favrestaurant: document.getElementById("fave-restaurant-val").value }).toString())
                .then((response) => response.json())
                .then((data) => {
                    let tempDiv = document.createElement("div")
                    if (data["businesses"] == "" || data == "") {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = `<p class='h3'>No results found. Please try with different filters.</p>`
                        document.getElementById("answer-box").appendChild(tempDiv)
                    }
                    else if (data != "" && data != null) {
                        data["businesses"].forEach(row => {
                            let tempDiv = document.createElement("div")
                            tempDiv.innerHTML = answerBoxTemplate(row.name, row.address, row.stars, row.categories, row.postal_code)
                            document.getElementById("answer-box").appendChild(tempDiv)
                        })
                        displayDimensionScores(data["query_dimensions"])
                    }


                });
        }

        function sortDictByValue(dict) {
            return Object.keys(dict)
                .sort((a, b) => dict[b] - dict[a])
                .reduce((acc, key) => {
                    acc[key] = dict[key];
                    return acc;
                }, {});
        }

        let plotWindow = d3.select("#dimension-scores")
        let svg = plotWindow.append("svg")
            .attr("width", 500)
            .attr("height", 50)

        // use d3 to make a single bar with the dimension scores
        function displayDimensionScores(scores) {

            document.getElementById("dimension-text").innerHTML = "Hover over a rectangle to see what your query is related to!"

            svg.selectAll("text").remove()
            svg.selectAll("rect").remove()
            // if there is nothing in scores, don't display anything
            if (Object == null || Object.keys(scores).length === 0) {
                svg.append("text")
                    .text("Keep typing words to get dimension scores")
                    .attr("x", 125)
                    .attr("y", 25)

                document.getElementById("dimension-text").innerHTML = ""
                return
            }

            const width = 500

            scores = sortDictByValue(scores)

            // only keep first 5
            scores = Object.fromEntries(Object.entries(scores).slice(0, 5))
            // square all the scores
            scores = Object.fromEntries(Object.entries(scores).map(([key, value]) => [key, value ** 5]))
            var total = Object.values(scores).reduce((a, b) => a + b, 0)
            scores = Object.fromEntries(Object.entries(scores).map(([key, value]) => [key, value / total * width]))

            console.log("scores", scores)

            var colors = ["#DD7B50", "#FFFFFF", "#DD7B50", "#FFFFFF", "#DD7B50"]

            // change scores from {dimension: width} to {dimension: [x, width]} where x is the starting position after the previous bar
            scores = Object.fromEntries(Object.entries(scores).map(([key, value], i) => [key, [Object.values(scores).slice(0, i).reduce((a, b) => a + b, 0), value, colors[i], "Your query has to do with " + key + ". This topic is the " + ((i == 0) ? "most" : (i == 1) ? "2nd most" : (i == 2) ? "3rd most" : (i + 1) + "th most") + " important."]]))

            svg.selectAll("rect")
                .data(Object.values(scores))
                .join("rect")
                .attr("x", (d) => d[0])
                .attr("y", 0)
                .attr("width", (d) => d[1])
                .attr("height", 40)
                .attr("fill", (d) => d[2])
                .attr("stroke", "black")
                .attr("stroke-width", 0)
                .on("mouseover", function (event, i, rects) {
                    d3.select(this)
                        .attr("stroke-width", 5)

                    console.log(rects[i].__data__[3])
                    document.getElementById("dimension-text").innerHTML = rects[i].__data__[3] + " This dimension represents " + Math.round(rects[i].__data__[1] / width * 100) + "% of the top five dimensions in your query. Results will be similar to this dimension."
                })
                .on("mouseout", function (event, d) {
                    d3.select(this)
                        .attr("stroke-width", 0)

                    document.getElementById("dimension-text").innerHTML = "Hover over a rectangle to see what your query is related to!"
                })

        }

    </script>
</body>